### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
